<section id="app" class="section">
    <h2>我们的应用</h2>
    <div class="app-content">
        <div class="app-description">
            <div class="app-features">
                <div class="feature">
                    <img src="images/AppshowCard.svg" alt="App Feature 1" class="feature-image">
                </div>
                <div class="feature">
                    <img src="images/AppshowCard2.svg" alt="App Feature 2" class="feature-image">
                </div>
            </div>
        </div>
    </div>
</section> 