<section id="contact" class="contact">
    <h2 class="contact-title">关于我</h2>
    <div class="contact-content">
        <div class="logo-animation">
            <img src="images/animation/studioLOGO1.svg" alt="Studio Logo 1" class="logo-image active">
            <img src="images/animation/studioLOGO2.svg" alt="Studio Logo 2" class="logo-image">
        </div>
        <h3 class="studio-title">BEMHOM STUDIO</h3>
        <div class="contact-links">
            <a href="mailto:BemhomStudio@outlook.com" class="contact-link">
                <svg class="contact-icon" viewBox="0 0 24 24" width="20" height="20">
                    <path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
                </svg>
                BemhomStudio@outlook.com
            </a>
            <a href="https://www.xiaohongshu.com/user/profile/5d5667eb0000000001009f34?xsec_token=YBpOPDbeFaEH43JMZkELMMbNnqV5lo6ZIFWT9ArMPAkSU%3D&xsec_source=app_share&xhsshare=CopyLink&appuid=5d5667eb0000000001009f34&apptime=1749269163&share_id=82a7d97153f640018e262ad11a7b2046&share_channel=copy_link" target="_blank" class="contact-link">
                <img src="images/xiaohongshu.png" alt="BemhomStudio" class="contact-icon xiaohongshu-icon">
                BEMHOM STUDIO 
            </a>
        </div>
    </div>
</section> 